button {
    display: flex;
    justify-content: center;
    width: 200px;
}

.next {
    display: none;
}

.con {
    display: none;
}

body {
    background: lime;
    font-size: 25px;
}

.choice-2 {
    display: none;
}

.ans-1 {
    display: none;
}

.ans-2 {
    display: none;
}

.end {
    display: none;
}

.reset {
    display: none;
}

img {
    display: none;
    width: 350px;
}